h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  min-height: 600px;
  max-height: 756px;
  height: 756px;
  display: flex;
  align-items: center;
  padding-left: 64px;
  position: relative;
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-weight: 700;
  font-size: 102px;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  z-index: 2;
  color: #2f80ed;
}

.header__link::after {
  content: " \2192";
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__img {
  width: 765px;
  height: 608px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.logo {
  position: absolute;
  z-index: 2;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  width: 183px;
  height: 32px;
}

.description {
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
}

.digits {
  padding: 100px 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.section-title_theme_dark {
  line-height: 69px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: 20px auto 0;
}

.table {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  margin: 20px 0;
}

.table__text_theme_dark {
  margin: 20px 0 0;
}

/* и элемента с модификатором вида ключ-значение
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */

.feynman {
  background: url(../images/feynman.png) bottom left no-repeat;
  height: 790px;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  text-align: center;
  margin: 0 auto;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  text-align: center;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.feynman__link::after {
  content: " \2192";
}

.kaufman {
  position: relative;
  overflow: hidden;
  padding: 90px 0;
}

.kaufman__traingle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0;
}

.footer {
  min-height: 250px;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.logo_place_footer {
  position: static;
  background: url(../images/logo_place_footer.svg);
  height: 35px;
  width: 183px;
}

.footer__autor {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px 0 16px;
  color: white;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.design_theme_light {
  background-color: #f2f2f2;
  color: black;
}

.design_theme_dark {
  background-color: #1f1f1f;
  color: white;
}
